.card_Forget_Password_body_form{
    width: 82%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0 1rem;
}
.card_Forget_Password_body_form * {
    margin: 0.7rem 0;
}
.turnComponent{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.turnComponent span {
    padding: 5px;
}